<form>
    <legend>Registro</legend>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label"> Ingrese su correo electronico </label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder= "Correo">
    </div>
  <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Ingrese su contraseña</label>
    <input type="text" id="disabledTextInput" class="form-control" placeholder="Contraseña">
  </div>

    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
        <label class="form-check-label" for="disabledFieldsetCheck">
          Can't check this
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
